/*Body starts from here ...*/

body {
    max-width: 90%;
    padding: 0%;
    margin: auto;
    /*background-image: url("http://sf.co.ua/16/06/wallpaper-142eb.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;*/
    background-color: #ccc;
}


/*Header starts here ...*/

header {
    background-color: yellow;
}


/* titles fonts*/

h1,
h2 {
    font-family: 'Abril Fatface'
}


/* All the paragraph start from here... */

p {
    font: bold 18px arial, sans-serif;
    color: gray;
}


/* All the links start from here ...*/

a {
    font-weight: bold;
}

a:hover {
    color: #000;
    font-size: 20px;
}

a:visited {
    color: #f00;
}


/* All quotes start here ...*/

q {
    width: calc(90% / 2);
    font-size: 160%;
    margin: auto;
    background-color: #999;
    color: #000;
    padding: 80px 30px;
    display: block;
    font-style: italic;
    font-weight: normal;
}

.farmer {
    border-left: 3px solid red;
}

.villagers {
    border-left: 3px solid orange;
}


/*All bien class and mal found here ...*/

.bien,
.mal {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
}

.mal {
    color: #f00;
}

.bien {
    color: #080;
}


/*All the table's tr,  th et td starsts from here ...*/

table {
    border: 1px solid #000;
    width: 50%;
}

tr:nth-child(even) {
    background-color: #fff;
}


/*the list start here ...*/

ol li {
    list-style-type: none;
    padding-left: 5%;
    margin-top: 3%
}

ol li:first-child {
    background-image: url("https://raw.githubusercontent.com/becodeorg/LIE-Jepsen-2.14/master/01-the-field/html-css/progressive-enhancement/bien.png?token=AHZCZDL2JWOF2WOJXJSO3CS5MTQRO");
    background-repeat: no-repeat;
    background-size: 2rem;
}

ol li:nth-child(2) {
    background-image: url("https://raw.githubusercontent.com/becodeorg/LIE-Jepsen-2.14/master/01-the-field/html-css/progressive-enhancement/mal.png?token=AHZCZDKNM576QHAA3UMEFAS5MTSQY");
    background-repeat: no-repeat;
    background-size: 2rem;
}

ol li:nth-child(3) {
    background-image: url("https://raw.githubusercontent.com/becodeorg/LIE-Jepsen-2.14/master/01-the-field/html-css/progressive-enhancement/chat.png?token=AHZCZDMQE4DA27A4QXXHEM25MTSW2");
    background-repeat: no-repeat;
    background-size: 2rem;
    padding-bottom: 0.5rem;
}


/*the images start here ...*/

img {
    max-width: 100%;
    margin: 0%
}

section article {
    clear: both;
}

figure {
    display: inline;
    float: left;
    max-width: 20%;
    padding: 0%;
    margin-top: 0%
}

section article h2,
section article p:not(section article:last-child) {
    display: inline;
    float: right;
}

section article blockquote {
    display: block;
}